body {
  background-color: #666666;
  color: black;
}

.button {
  display: block;
  width: 9em;
  height: 2em;
  background: #4E9CAF;
  padding: 1em;
  text-align: center;
  color: white;
  font-weight: bold;
}
