{% extends "index.jinja2" %}
{% block body %}
    <form action="{{ request.route_url('create')}}" method="POST">
      <div class="form-group col-xs-10">
        <h2>Title</h2>
        <input type="text" class="form-control col-lg" name="title" placeholder="Entry Title"><br>
        <h2>Entry</h2>
        <textarea class="form-control col-lg" rows="10" name="body" placeholder="Add content here..."></textarea>
        <input class="btn btn-primary" type="submit" value="Save">
      </div>
    </form>
{% endblock %}
