{% extends "index.jinja2" %}
{% block body %}
  <form action="" method="POST">
    <div class="form-group col-xs-10">
      <h2>Title</h2>
      <input type="text" class="form-control" name="title" value="{{ title }}"><br>
      <h2>Entry</h2>
      <textarea type="text" class="form-control" name="body" rows="10">{{ body }}</textarea>
      <input class="btn btn-primary" type="submit" value="Save" disabled>
    </div>
  </form>
{% endblock %}
