<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/Users/VMB/cf/Python401/week3/learning-journal/learning_journal/learning_journal/static/base.css">
    <title>Vic's Learning Journal</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <section class="container">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/create">Entry +</a>
          </section>
        </nav>
      </div>
    </header>
    <main class="container" style="padding-top: 70px">
      <h1>Vic's Python Learning Journal</h1>
      <section>
        <article>
          <h2 class="entrytitle">
            <a href="/1">Vic Week 3 Day 2 Python</a>
          </h2>
          <p class="timestamp">Date 1</p>
          <p class="entry">Today we reviewed the heap data structure after doing some code review. Then we continued to learn how to implement Pyramid. I feel like we are rushing through this part a bit, the docs are good and can be followed well, but if I make a mistake while following along, I don't have time to catch back up I just have to sit back and watch.

In lab we finished up our deque data structure and started planning our tests for heap. I am getting a bit behind on the learning journal. I was able to do step 1 in class while following along, but have not deployed my mockups. I plan on getting caught up with this assignment tomorrow. I was able to us bootstrap for the styling of my mockups so the learning journal has a much cleaner look.</p>
          <p class="editentry"><a class="btn btn-primary" href="/1/edit">Edit</a></p>
        </article>
        <article>
          <h2 class="entrytitle">
            <a href="/2">Title 2</a>
          </h2>
          <p class="timestamp">Date 2</p>
          <p class="entry">Entry 2</p>
          <p class="editentry"><a class="btn btn-primary" href="/2/edit">Edit</a></p>
        </article>
        <article>
          <h2 class="entrytitle">
            <a href="/3">Title 3</a>
          </h2>
          <p class="timestamp">Date 3</p>
          <p class="entry">Entry 3</p>
          <p class="editentry"><a class="btn btn-primary" href="/3/edit">Edit</a></p>
        </article>
      </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </main>
    <footer class="footinfo container">Vic's Learning Journal | 2016
    </footer>
  </body>
</html>
