{% extends "index.jinja2" %}
{% block body %}
  <form action="{{request.route_url('login')}}" method="POST">
    <div class="form-group col-xs-10">
      <h2>Login</h2>
      <input type="text" class="form-control col-lg" name="username" placeholder="username">
      <input type="text" class="form-control col-lg" name="password" placeholder="password">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    {% if error %}
      <h1>{{ error }}</h1>
    {% endif %}
  </form>
{% endblock %}
