{% extends "index.jinja2" %}
{% block body %}
  <form action="{{request.route_url('login')}}" method="POST">
    {% if error %}
    <div>
      <h1 class="alert alert-danger">{{ error }}</h1>
    </div>
    {% endif %}
    <div class="form-group col-xs-3">
      <h2>Login</h2>
      <input type="text" class="form-control col-lg" name="username" placeholder="username">
      <input type="password" class="form-control col-lg" name="password" placeholder="password">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>
{% endblock %}
