<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="base.css">
    <title>Vic's Learning Journal</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <section class="container">
          <a class="navbar-brand" href="home.html">Home</a>
        </section>
      </nav>
    </header>
    <main>
      <section>
        <form action="" method="POST">
          <div class="form-group col-xs-10">
            <input type="text" class="form-control" name="title" value="Entry Title"><br>
            <h2>Vic Week 3 Day 2 Python</h2>
            <textarea name="entry" class="form-control" rows="10" placeholder="Entry">Today we reviewed the heap data structure after doing some code review. Then we continued to learn how to implement Pyramid. I feel like we are rushing through this part a bit, the docs are good and can be followed well, but if I make a mistake while following along, I don't have time to catch back up I just have to sit back and watch.

In lab we finished up our deque data structure and started planning our tests for heap. I am getting a bit behind on the learning journal. I was able to do step 1 in class while following along, but have not deployed my mockups. I plan on getting caught up with this assignment tomorrow. I was able to us bootstrap for the styling of my mockups so the learning journal has a much cleaner look.</textarea>
            <input class="btn btn-primary" type="submit" value="Save">
          </div>
        </form>
      </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </main>
    <footer class="footinfo">Vic's Learning Journal | 2016
    </footer>
  </body>
</html>
